Checks:  'clang-diagnostic-*, clang-analyzer-*,
          modernize-*, bugprone-*, performance-*,
          misc-*,
          readability-redundant-*,
          bugprone-exception-escape,
          -bugprone-chained-comparison,
          -bugprone-reserved-identifier, -bugprone-easily-swappable-parameters, -bugprone-assignment-in-if-condition,
          -bugprone-misplaced-widening-cast, -bugprone-branch-clone,
          -clang-diagnostic-unknown-warning-option,
          -clang-analyzer-security.insecureAPI.bzero,
          -clang-analyzer-optin.core.EnumCastOutOfRange,
          -modernize-use-auto, -modernize-use-nodiscard, -modernize-use-using, -modernize-use-trailing-return-type,
          -modernize-avoid-c-arrays, -modernize-use-default-member-init, -modernize-return-braced-init-list,
          -modernize-avoid-bind, -modernize-use-transparent-functors, -modernize-use-constraints,
          -modernize-use-designated-initializers, -modernize-min-max-use-initializer-list, -modernize-type-traits,
          -modernize-use-ranges,
          -performance-avoid-endl, -performance-enum-size,
          -misc-non-private-member-variables-in-classes, -misc-include-cleaner,
          -misc-const-correctness, -misc-unconventional-assign-operator, -misc-use-anonymous-namespace,
          -misc-misplaced-const, -misc-no-recursion, -misc-confusable-identifiers,
          -readability-redundant-declaration, -readability-redundant-inline-specifier, -readability-redundant-member-init,
          -readability-redundant-access-specifiers'

CheckOptions:
  - key:             modernize-use-default-member-init.UseAssignment
    value:           'true'
  - key:             modernize-use-scoped-lock.WarnOnSingleLocks
    value:           'false'

WarningsAsErrors: '*'
HeaderFilterRegex: '(api/|trial/direct_bt/|test/direct_bt/|java/jni|jaulib/include/jau/).*$'

# AnalyzeTemporaryDtors: false
FormatStyle:     none
InheritParentConfig: false
