#ClangTidy config is merged w/ .clang-tidy where this file takes precedence
#Diagnostics:
#  ClangTidy:
#    Add: [clang-diagnostic-*, clang-analyzer-*, modernize-*, bugprone-*]
#
#    Remove: [modernize-use-auto, modernize-use-nodiscard, modernize-use-using, modernize-use-trailing-return-type, 
#             modernize-avoid-c-arrays, modernize-use-default-member-init, modernize-return-braced-init-list, 
#             modernize-avoid-bind, modernize-use-transparent-functors,
#             bugprone-reserved-identifier, bugprone-easily-swappable-parameters, bugprone-assignment-in-if-condition,
#             bugprone-misplaced-widening-cast, bugprone-branch-clone]
#
#    CheckOptions:
#        modernize-use-default-member-init.UseAssignment: true

# Tell clangd to use the compile_commands.json file in the build/default folder
CompileFlags:
  CompilationDatabase: build/default

Diagnostics:
  UnusedIncludes: Strict

InlayHints:
  Enabled: No
  BlockEnd: Yes
  Designators: No
  ParameterNames: Yes
  DeducedTypes: Yes
  TypeNameLimit: 24

Hover:
  ShowAKA: Yes
